[submodule "Lib/Vendor/EZMilk"]
	path = Lib/Vendor/EZMilk
	url = git://github.com/everzet/EZMilk.git
[submodule "Lib/Vendor/SQLitePersistentObjects"]
	path = Lib/Vendor/SQLitePersistentObjects
	url = git://github.com/everzet/sqlitepersistentobjects.git
